<div class="row">
    <div class="col-md-12">
        <h4>Skills</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="card h-100">
            <div class="card-header border-0 bg-white">
                <h6 class="card-title text-center">Web</h6>
            </div>
            <div class="card-body">
                <div *ngFor="let s of webSkills">
                    <p class="m-0">{{s.name}}</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" [ngClass]="'w-'+s.level" [aria-valuenow]="s.level"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card  h-100">
            <div class="card-header border-0 bg-white">
                <h6 class="card-title text-center">.NET</h6>
            </div>
            <div class="card-body">
                <div *ngFor="let s of netSkills">
                    <p class="m-0">{{s.name}}</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" [ngClass]="'w-'+s.level" [aria-valuenow]="s.level"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card  h-100">
            <div class="card-header border-0 bg-white">
                <h6 class="card-title text-center">Databases</h6>
            </div>
            <div class="card-body">
                <div *ngFor="let s of dbSkills">
                    <p class="m-0">{{s.name}}</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" [ngClass]="'w-'+s.level" [aria-valuenow]="s.level"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>