<div class="container">
    <div class="row mt-5">
        <div class="col-sm-12 col-md-4 d-flex justify-content-center">
            <!-- <img src="https://cdn1.vectorstock.com/i/thumb-large/82/55/anonymous-user-circle-icon-vector-18958255.jpg"
                alt="avatar"> -->
                <img src="https://ca.slack-edge.com/T07RAQ6DA-UBPCYCC0J-g76ea5eb5c51-192" class="img-fluid rounded-circle" alt="">
        </div>
        <div class="col-sm-12 col-md-8">
            <p class="text-muted">Software Developer</p>
            <h1>{{aboutMe.name}}</h1>
            <p>I love writing code. I have been obsessed with the idea of using software to solve practical problems.
                Even when I in my free time, I tend to continue writing code. I believe in the power of
                programming to transform and improve the lives of people around the world.</p>
            <div>
                <a href="https://github.com/mgonzalezpk/me/blob/main/src/assets/manuel_agh_resume.pdf" class="btn btn btn-outline-primary  me-3 rounded-pill br-2" download target="_blank">Download
                    CV</a>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            <h4>Who I am?</h4>
            <p>Since beginning my journey as a software developer my goal is to be the best option for the client,
                bringing ideas, building solutions, methodologies, and new technologies.</p>
            <div class="container px-5">
                <div class="row">
                    <div class="col-6">
                        <ul class="list-group">
                            <li class="list-group-item d-flex justify-content-between border-0">
                                <span>Age</span>
                                <span>{{aboutMe.age}}</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between border-0">
                                <span>Email</span>
                                <span>{{aboutMe.email}}</span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <ul class="list-group">
                            <li class="list-group-item d-flex justify-content-between border-0">
                                <span>ADDRESS</span>
                                <span>{{aboutMe.address}}</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between border-0">
                                <span>RESIDENCE</span>
                                <span>{{aboutMe.residence}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            <h4>What I do?</h4>
            <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col">
                    <div class="card border-0">
                        <div class="card-body">
                            <h5 class="card-title">Front-End</h5>
                            <p class="card-text m-0">I like to code things from scratch, and enjoy bringing ideas to
                                life in
                                the browser using technologies like
                                <a href="https://angular.io/">Angular</a> or
                                <a href="https://es.reactjs.org/">ReactJs</a>.
                            </p>
                            <small class="text-muted">See more</small>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card border-0">
                        <div class="card-body">
                            <h5 class="card-title">Back-End</h5>
                            <p class="card-text m-0">Always focused on building a better, more efficient program and
                                creating a
                                better end-user experience using
                                <a href="https://dotnet.microsoft.com/">.NET</a>,
                                <a href="https://nodejs.org/es/">NodeJs</a> or
                                <a href="https://sailsjs.com/">SailsJs</a>.
                            </p>
                            <small class="text-muted">See more</small>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card border-0">
                        <div class="card-body">
                            <h5 class="card-title">Database</h5>
                            <p class="card-text">
                                Responsible for securely and correctly monitoring, maintaining, and designing
                                computerized databases using
                                <a href="https://docs.microsoft.com/en-us/sql/?view=sql-server-ver15">MySql</a>,
                                <a href="https://www.mysql.com/">MySql</a> or
                                <a href="https://www.postgresql.org/">PostgreSql</a>.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card border-0">
                        <div class="card-body">
                            <h5 class="card-title">Cloud Services</h5>
                            <p class="card-text">Managing and supporting applications using <a
                                    href="https://azure.microsoft.com/">Azure Cloud Service</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
