<div class="container-fluid banner">
    <div class="row">
        <div class="col-12">
            <h1>Resume</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row mt-5">
        <div class="col-md-6">
            <h4>Education</h4>
            <app-education></app-education>
        </div>
        <div class="col-md-6">
            <h4>Experience</h4>
            <app-job-expirience></app-job-expirience>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-12">
            <app-skills></app-skills>
        </div>
    </div>
</div>
